# ~/.zsh_aliases
## ls -l -F -h -c --group-directories-first -v
alias ls='ls --color=auto --group-directories-first --time-style=long-iso -Fhv'
alias l='ls'
alias ll='ls -l'
alias la='ls -A'
alias lla='ls -lA'
alias l1='/bin/ls -1'
alias lt='noglob tree -C --dirsfirst -I node_modules\|__pycache__\|*.egg-info\|venv\|lua5?\|luajit\|target\|.git'
alias ltd='lt -d'
alias lta='lt -a'
alias fd="fd -c never"
# git
alias g="git"
alias ga='git add'
alias gap='git add --patch'
alias gc='git commit -v'
alias gl='git log --oneline --decorate -10'
alias gll='git log --oneline --decorate --stat -10'
alias gla='git log --oneline --decorate'
alias gs='git status --short'
alias gco='git checkout'
alias gb='git branch -av'
alias gcd='cd $(git root)'
alias gf="git ls-files"
alias gds="git diff --stat"
alias gd="git diff"
alias blame="git blame --shortstats"
alias gw="git switch"
alias gwc="git switch --create"
# xorg
alias xc="xclip -selection clipboard"
alias xp="xclip -selection primary"
## vim
alias v='nvim'
alias vf='v $(fzf)'
alias eml='vipe --suffix eml | msmtp -d -t'
# xorg
alias xc="xclip -selection clipboard"
alias xc="xclip -selection primary"
## vim
alias v='nvim'
# alias mail='vipe --suffix eml | msmtp -d -t'
# ssh
# alias scp="noglob scp"
alias ssh="TERM=xterm-256color noglob ssh"
alias sa='ssh-add'
alias sshnoc="ssh -o StrictHostKeyChecking=no"
# dictd
alias dic="sdcv --color"
alias dict="sdcv -n -c -0 -1"
# man
alias man="man --no-justification"
# python
alias ae='cd $(git root); deactivate &> /dev/null; source .venv/bin/activate; cd -'
alias de='deactivate'
alias py='python'
# lua
alias lae='cd $(git root); deactivate-lua &> /dev/null; source .hererocks/bin/activate; cd -'
alias lde='deactivate-lua'
# misc
alias mu='mupdf'
alias yt-dlp="yt-dlp --restrict-filenames"
alias ytmp3="yt-dlp -x --audio-format mp3 --audio-quality 0" 
alias youtube-dl="noglob youtube-dl"
alias rn="perl-rename"
alias ffprobe="ffprobe -hide_banner"
alias docker="podman"
# tmux
alias tm="tmux"
alias tl="tmux list-sessions -F '#{session_id} #{session_name}'"
alias ta="tmux attach -t"
alias td="tmux detach"
alias tn="tmux new"
# figlet / toilet
alias toi="toilet -f 3d"
# systemd
alias sc="systemctl"
alias scu="systemctl --user"
# bspwm
alias ,bspm="bspc query -M"
alias ,bspd="bspc query -D"
alias ,bspn="bspc query -N"
