# ~/.bash_alias
alias ls="ls --color=auto --group-directories-first --time-style=long-iso -Fhv"
alias ll="ls -l"
alias la="ls -A"
alias lla="ls -lA"
alias l1="/bin/ls -1"
alias lt="tree -C --dirsfirst -I node_modules\|__pycache__\|*.egg-info\|venv\|lua5?\|luajit\|target\|.git"
alias ltd="lt -d"
alias lta="lt -a"
alias fd="fd -c never"
alias v="nvim"
alias vz="fzf | nvim --"
# pushd & popd
alias lsd="dirs -v"
alias pud="pushd"
alias pod="popd"
# git
alias g="git"
alias gcd='cd $(git root)'
alias gs='git status --short'
alias ga='git add'
alias gap='git add --patch'
alias gc='git commit -v'
alias gl='git log --oneline --decorate -30'
alias gla='git log --oneline --decorate'
alias gco='git checkout'
alias gb='git branch -av'
alias gls="git ls-files"
alias gd="git diff"
alias gds="git diff --stat"
# tmux
alias tm="tmux"
alias tl="tmux list-sessions"
alias ta="tmux attach -t"
# ssh-add
alias sa="ssh-add"
# xclip
alias xc="xclip -selection clipboard"
alias xs="xclip -selection primary"
